body {
  background-color: black;
  margin: 0;
}

.block,
.block-content {
  border: 1px solid #e75551;
  padding: 10px;
  margin: 0;
}

.block-parent {
  width: 328px;
  margin: 20px 20px 40px;
  background-color: #308dc0;
}

.block-middle {
  background-color: #ffa500;
  margin: 0;
}

.block-content {
  background: #ddd;
}
